APP_MVC_TEST_WCF/Service References/ReferenciaNegocios/ServiceNegocios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceNegocios" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51375/ServiceNegocios.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51375/ServiceNegocios.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51375/ServiceNegocios.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServicios" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceNegocios_Clientes_InputMessage">
    <wsdl:part name="parameters" element="tns:Clientes" />
  </wsdl:message>
  <wsdl:message name="IServiceNegocios_Clientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceNegocios_ClientesPorNombre_InputMessage">
    <wsdl:part name="parameters" element="tns:ClientesPorNombre" />
  </wsdl:message>
  <wsdl:message name="IServiceNegocios_ClientesPorNombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientesPorNombreResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceNegocios_PedidoPorCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:PedidoPorCliente" />
  </wsdl:message>
  <wsdl:message name="IServiceNegocios_PedidoPorCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:PedidoPorClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceNegocios_PedidoPorYear_InputMessage">
    <wsdl:part name="parameters" element="tns:PedidoPorYear" />
  </wsdl:message>
  <wsdl:message name="IServiceNegocios_PedidoPorYear_OutputMessage">
    <wsdl:part name="parameters" element="tns:PedidoPorYearResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceNegocios_PedidoPorFechas_InputMessage">
    <wsdl:part name="parameters" element="tns:PedidoPorFechas" />
  </wsdl:message>
  <wsdl:message name="IServiceNegocios_PedidoPorFechas_OutputMessage">
    <wsdl:part name="parameters" element="tns:PedidoPorFechasResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceNegocios">
    <wsdl:operation name="Clientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNegocios/Clientes" message="tns:IServiceNegocios_Clientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNegocios/ClientesResponse" message="tns:IServiceNegocios_Clientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClientesPorNombre">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNegocios/ClientesPorNombre" message="tns:IServiceNegocios_ClientesPorNombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNegocios/ClientesPorNombreResponse" message="tns:IServiceNegocios_ClientesPorNombre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PedidoPorCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNegocios/PedidoPorCliente" message="tns:IServiceNegocios_PedidoPorCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNegocios/PedidoPorClienteResponse" message="tns:IServiceNegocios_PedidoPorCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PedidoPorYear">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNegocios/PedidoPorYear" message="tns:IServiceNegocios_PedidoPorYear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNegocios/PedidoPorYearResponse" message="tns:IServiceNegocios_PedidoPorYear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PedidoPorFechas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNegocios/PedidoPorFechas" message="tns:IServiceNegocios_PedidoPorFechas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNegocios/PedidoPorFechasResponse" message="tns:IServiceNegocios_PedidoPorFechas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceNegocios" type="tns:IServiceNegocios">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Clientes">
      <soap:operation soapAction="http://tempuri.org/IServiceNegocios/Clientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientesPorNombre">
      <soap:operation soapAction="http://tempuri.org/IServiceNegocios/ClientesPorNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PedidoPorCliente">
      <soap:operation soapAction="http://tempuri.org/IServiceNegocios/PedidoPorCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PedidoPorYear">
      <soap:operation soapAction="http://tempuri.org/IServiceNegocios/PedidoPorYear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PedidoPorFechas">
      <soap:operation soapAction="http://tempuri.org/IServiceNegocios/PedidoPorFechas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceNegocios">
    <wsdl:port name="BasicHttpBinding_IServiceNegocios" binding="tns:BasicHttpBinding_IServiceNegocios">
      <soap:address location="http://localhost:51375/ServiceNegocios.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>